<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: 50px;
            height: 50px;
            border: 1px solid rgb(30, 28, 28);
            margin: 10px;
        }
        .a{
            width: 500px;
            height: 500px;
            display: flex;
            align-items: center;
        }
        .b,.c,.d,.e{
            text-align: center;
            line-height: 50px;
        }
        .b{
            flex:1;
        }
    </style>

</head>
<body>
    <div class="a">
        <div class="b">1</div>
        <div class="c">2</div>
        <div class="d">3</div>
        <div class="e">4</div>
    </div>
</body>
</html>